<%- include('includes/header') %>




<div class="container py-md-5 container--narrow">
  
    <div class="profile-nav nav nav-tabs pt-2 mb-4">
      <a href="#" class="profile-nav-link nav-item nav-link active">Search result:</a>
    </div>
  
    <div class="list-group">
      <% books.forEach(function(book) { %>
        <a href="/book/<%= book._id %>" class="list-group-item list-group-item-action">
          <img class="avatar-tiny" src="<%= book.owner.avatar %>">
          <strong><%= book.title %></strong> related topic: <strong><%= book.author %></strong>,  added on <%= book.addedDate.getMonth() + 1 %>/<%= book.addedDate.getDate() %>/<%= book.addedDate.getFullYear() %>
        </a>
      <% }) %>
      
      
    </div>
  </div>
  <%- include('includes/footer') %>
