<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
  <%- include('includes/flash') %>

  <div class="text-center">
    <h3>Hello <strong><%= user.username %></strong>, check out posts in JobStation</h3>
    <!-- <p class="lead text-muted">Your feed displays the latest posts from the people you follow. If you don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the &ldquo;Search&rdquo; feature in the top menu bar to find content written by people with similar interests and then follow them.</p> -->
  </div>  
</div>

<div class="container py-md-5 container--narrow">
  
    <div class="profile-nav nav nav-tabs pt-2 mb-4">
      <a href="#" class="profile-nav-link nav-item nav-link active">Posts</a>
    </div>
  
    <div class="list-group">
      <% books.forEach(function(book) { %>
        <a href="/book/<%= book._id %>" class="list-group-item list-group-item-action">
          <img class="avatar-tiny" src="<%= book.owner.avatar %>">
          <strong><%= book.title %></strong> written by <strong><%= book.author %></strong> added on <%= book.addedDate.getMonth() + 1 %>/<%= book.addedDate.getDate() %>/<%= book.addedDate.getFullYear() %>
        </a>
      <% }) %>
      
      
    </div>
  </div>
  <%- include('includes/footer') %>
